/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .header-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically if needed */
    height: 100px;          /* Adjust height as needed */
}

.table-custom {
    margin: 20px auto;  /* Centering the table */
    border-collapse: collapse;
    width: 80%;          /* Set a width for the table */
    max-width: 1000px;  /* Optional: Set a maximum width */
}

.table-custom th, .table-custom td {
    padding: 10px;      /* Adds padding to the table cells */
    border: 1px solid #ddd; /* Optional: adds a border to the cells */
    text-align: left;   /* Align text to the left */
}

.table-custom th {
    background-color: #f2f2f2; /* Optional: adds a background color to the header */
}
th span {
    margin-left: 5px; /* Space between header text and arrow */
    font-size: 14px;  /* Adjust arrow size if needed */
    color: #333;      /* Color of the arrows */
}

.headerSortDown:after,
.headerSortUp:after {
  content: ' ';
  position: relative;
  left: 2px;
  border: 5.5px solid transparent;
}

.headerSortDown:after {
  top: 13px;
  border-top-color: rgb(85, 133, 157);
}

.headerSortUp:after {
  bottom: 12px;
  border-bottom-color: rgb(85, 133, 157);
}

.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}

.new-movie-link {
    text-align: center;    /* Ensure text is aligned left */
}
